{
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": {
          "@Src": "./src/App.jsx",
          "@Components": "./src/Components",
          "@Arts": "./src/Arts",
          "@Utils": "./src/Utils",
          "@Styles": "./src/Assets/Styles",
          "@Image": "./src/Assets/Images"
        }
      }
    ],
    ["@babel/plugin-transform-react-jsx", {
      "pragmaFrag": "React.Fragment"
    }]
  ]
}